<html>
<body>
<form action="http://localhost:5000/" method="POST">
    <table cellspacing=24>
        <tr>
            <td>
                <p><b>Search string:</b> <input type="text" name="search" onchange="this.form.submit()"/></p>
            </td>
            <td>
				<!--<p>Is sensetive: <input type="text" name="is_sensetive"/></p> -->
				<div><b>Case sensitive:</b>
				<input type="radio"    name="is_sensetive" value="0" checked/>				
				<label for="contactChoice1">No</label>
				<input type="radio"    name="is_sensetive" value="1"/>				
				<label for="contactChoice1">Yes</label>
				</div>
            </td>
        </tr>
		<tr></tr>
        <tr>
            <td>
				<p>Enter text:</p>
                <p> <textarea rows="40" cols="50" name="text" style="width: 400px; height: 300px;">{{ text }}</textarea></p>
            </td>
            <td style="vertical-align: top; text-align: justify">
				<p>Result:</p>				
                <div style="width: 400px; height: 300px; border: solid 1px #00000038;">
                    <p>{{ highlighted_text }}</p>
                </div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>